<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Live Cropping Demo</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <script src="{{asset("bundles/uploadcropimage/js/jquery.min.js") }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% include 'UploadCropImageBundle:Commun:demo.includes.html.twig' %}
        {% include 'UploadCropImageBundle:Commun:crop.includes.html.twig' %}
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="jc-demo-box">

                        <div class="page-header">
                            <h1>Cropping for Symfony2 based on <a href="http://deepliquid.com/content/Jcrop_Manual.html">Jcrop</a></h1>
                        </div>
                        <div id="jcrop-wrapper">
                            <style>
                                #jcrop-wrapper{
                                    position:relative;
                                }
                                .se-pre-con {
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                    width:100%;
                                    height:100%;
                                    z-index: 9999;
                                    background: url({{asset('bundles/uploadcropimage/images/preloader.gif')}}) center no-repeat #fff;
                                    display: none;

                                }
                            </style>
                            <!-- Ajax preloader -->
                            <div class="se-pre-con"></div>
                            <!-- // Ajax preloader -->
                            <div id="jcrop-holder">
                                <!-- This is the image we're attaching Jcrop to -->
                                {% if asset is defined %}
                                    <img src="{{ asset }}" id="cropbox" />
                                {% else %}
                                    <img src="holder.js/300x300?bg=#b8ebb8&fg=#ffffff" id="cropbox">
                                {% endif %}

                            </div>
                        </div>
                        <!-- This is the form that our event handler fills -->
                        <form name="upload" action="{{ path('media_crop') }}" {{ form_enctype(form) }} method="POST"  onsubmit="return checkCoords();">
                            {{ form_widget(form._token) }}
                            {{ form_widget(form.file, {'id':'file'})}}
                            {{ form_widget(form.dimensions) }}
                            <button type="submit" id="_submit" disabled="disabled" name="_submit" class="btn btn-primary nl-button"><i class="fa fa-sign-in"></i> Upload</button>
                        </form>

                        <p>
                            <b>An example server-side crop script.</b> Hidden form values
                            are set when a selection is made. If you press the <i>Crop Image</i>
                            button. Try it!
                        </p>


                    </div>
                </div>
            </div>
        </div>
        {% include 'UploadCropImageBundle:Commun:script.html.twig' %}
    </body>

</html>
